@keyframes background-move {
    from {
        background-position-x: 0;
        background-position-y: 0;
    }
    to {
        background-position-x: 8rem;
        background-position-y: 8rem;
    }
}


body {
    animation: background-move 20000ms linear infinite;
    background-image: conic-gradient(var(--mantine-color-primary-3) 25%, var(--mantine-color-primary-4) 25%, var(--mantine-color-primary-4) 50%, var(--mantine-color-primary-3) 50%, var(--mantine-color-primary-3) 75%, var(--mantine-color-primary-4) 75%);
    background-size: 8rem 8rem;
}

@font-face {
    font-family: RobotoMono;
    src: url(/fonts/RobotoMono-Medium.ttf);
}

@media (min-width: 130rem) {
    :root {
        --text-fz: var(--mantine-font-size-xl)
    }
}

@media (max-width: 130rem) {
    :root {
        --text-fz: var(--mantine-font-size-md)
    }
}

@media (max-width: 40rem) {
    :root {
        --text-fz: var(--mantine-font-size-sm)
    }
}