.headerClass {
    font: Roboto Mono;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: fit-content;
    align-items: center;
    gap: var(--mantine-spacing-xl);
    padding: 0 var(--mantine-spacing-md);
    z-index: 1000000;
    transition: transform 400ms ease;
    border-radius: 0px 0px 1rem 1rem;
    background-color: var(--mantine-color-primary-6);
    background-image: linear-gradient(var(--mantine-color-primary-9), var(--mantine-color-primary-6) 10%, var(--mantine-color-primary-1));
}
.headerButton {
    color: var(--mantine-color-text-1);
    border-radius: 8px;
    padding: 16px;
    transition: transform 0.33s ease, background-color 0.33s ease;
    aspect-ratio: 4/1;
    text-align: center;
}
.headerButton:hover {
    background-color: color-mix(in lch, var(--mantine-color-primary-8), 10%,var(--mantine-color-primary-1));
}