.bannerContainer {
    position: relative;
    cursor: pointer;
    aspect-ratio: 14/4;
    transition: transform 0.25s ease;
}
.bannerContainer:hover {
    transform: scale(1.05);
}
.hoverContainer {
    cursor: pointer;
    transition: transform 0.25s ease;
    z-index: 1;
}
.hoverContainer:hover {
    transform: scale(1.05);
}