@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(10%)
    }
    10% {
        opacity: 0;
    }
    70% {
        transform: translateY(0%)
    }
    100% {
        opacity: 1;
        
     }
}

p, h1 {
    animation: fadeInAnimation ease .33s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.bannerContainer {
    position: relative;
    cursor: pointer;
    aspect-ratio: 5/1;
    transition: transform 0.25s ease;
    margin: 2% 0px;
}
.bannerContainer:hover {
    transform: scale(1.05);
}
.hoverContainer {
    cursor: pointer;
    transition: transform 0.25s ease;
    z-index: 1;
}
.hoverContainer:hover {
    transform: scale(1.05);
}

.gradientTitleContainer {
    margin: 0;
    width: fit-content;
}
.gradientTitle {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    width: 100%;
    position: relative;
}
.gradientGlow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    filter: blur(1.33em);
    z-index:-1;
}

@media (max-width: 60em) {
    .gradientTitleContainer {
        margin: 0 auto
    }
}
