.bannerContainer {
    position: relative;
    cursor: pointer;
    aspect-ratio: 5/1;
    transition: transform 0.25s ease;
    margin: 2% 0px;
}
.bannerContainer:hover {
    transform: scale(1.05);
}
