@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(10%)
    }
    10% {
        opacity: 0;
    }
    70% {
        transform: translateY(0%)
    }
    100% {
        opacity: 1;
        
     }
}

p, h1 {
    animation: fadeInAnimation ease .33s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.bannerContainer {
    position: relative;
    cursor: pointer;
    aspect-ratio: 5/1;
    transition: transform 0.25s ease;
    margin: 2% 0px;
}
.bannerContainer:hover {
    transform: scale(1.05);
}
