@keyframes hover {
    from, to {
        transform: translate(1%,1%) rotate(0deg);
    }
    25% {
        transform: translate(-2%,2%) rotate(-1deg);
    }

    75% {
        transform: translate(1%,-1%) rotate(1deg);
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.floating {
    animation: hover 6500ms ease-in-out infinite;
    user-select: none;
    pointer-events: none;
    z-index: 0;
    &[data-blurry] {
        filter: blur(2rem);
    }
}

.container {
    z-index: 1;
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}