@keyframes background-move {
    from {
        background-position-x: 0;
        background-position-y: 0;
    }
    to {
        background-position-x: 8rem;
        background-position-y: 8rem;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(10%)
    }
    10% {
        opacity: 0;
    }
    70% {
        transform: translateY(0%)
    }
    100% {
        opacity: 1;
        
     }
}

p, h1 {
    animation: fadeInAnimation ease .33s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


body {
    animation: background-move 15000ms linear infinite;
    background-image: conic-gradient(var(--mantine-color-primary-7) 25%, var(--mantine-color-primary-9) 25%, var(--mantine-color-primary-9) 50%, var(--mantine-color-primary-7) 50%, var(--mantine-color-primary-7) 75%, var(--mantine-color-primary-9) 75%);
    background-size: 8rem 8rem;
    background-origin: right;
    transition: background-size 0.5s ease-in-out;
}

.mantine-Textarea-input, .mantine-Input-input, 	.mantine-Card-root {
    border-color: var(--mantine-color-primary-0);
    background-color: var(--mantine-color-primary-4);
}

.mantine-Title-root {
    color: var(--mantine-color-text-0);
}

@font-face {
    font-family: RobotoMono;
    src: url(/fonts/RobotoMono-Medium.ttf);
}

@media (min-width: 130rem) {
    :root {
        --text-fz: var(--mantine-font-size-xl)
    }
}

@media (max-width: 130rem) {
    :root {
        --text-fz: var(--mantine-font-size-md)
    }
}

@media (max-width: 40rem) {
    :root {
        --text-fz: var(--mantine-font-size-sm)
    }
}